// Variables.
$PRIMARY_COLOUR: #652AA0;
$PRIMARY_COLOUR_DARKEN: #59238f;
$SECONDARY_COLOUR: #162389;
$TERTIARY_COLOUR: #A079B5;

$BACKGROUND_1: #030615;
$BACKGROUND_2: #0C1029;
$BACKGROUND_3: #192148;
$BACKGROUND_4: #282F5A;
$BACKGROUND_5: #7E8FD8;

$BORDER_RADIUS: 5px;

$FONT_FAMILY_PRIMARY: 'Montserrat', sans-serif;

$TEXT_COLOUR_PRIMARY: #E0E0E0;
$TEXT_COLOUR_SECONDARY: #8A91B7;
$TEXT_COLOUR_PRIMARY_INVERTED: #141414;

$SUCCESS_COLOUR: #86F081;
$ERROR_COLOUR: $PRIMARY_COLOUR;
$ERROR_COLOUR_BRIGHT: #FB4646;