// Variables.
$PRIMARY_COLOUR: #652aa0;
$PRIMARY_COLOUR_DARKEN: #59238f;
$SECONDARY_COLOUR: #162389;
$TERTIARY_COLOUR: #a079b5;

$BACKGROUND_1: #030615;
$BACKGROUND_2: #13143d;
$BACKGROUND_3: #1d2652;
$BACKGROUND_4: #282f5a;
$BACKGROUND_5: #7e8fd8;

$BORDER_RADIUS: 5px;

$FONT_FAMILY_PRIMARY: "Montserrat", sans-serif;

$TEXT_COLOUR_PRIMARY: #e0e0e0;
$TEXT_COLOUR_SECONDARY: #8a91b7;
$TEXT_COLOUR_PRIMARY_INVERTED: #141414;

$SUCCESS_COLOUR: #86f081;
$ERROR_COLOUR: $PRIMARY_COLOUR;
$ERROR_COLOUR_BRIGHT: #fb4646;
